.notification {
    position: absolute;
    top: 20%;
    left: 50%;
    display: block;
    border-radius: 5px;
    padding: .5rem;
    width: 40%;
    text-align: center;
    transform: translate(-50%);
}

.notification.success {
    background-color: rgb(127, 255, 212);
}

.notification.error {
    background-color: #d78294;
}