:root {
    font-family: 'Poppins';
    font-size: 1rem;
}

body,
html {
    margin: 0;
    padding: 0;
    color: #19535F;
}

body {
    background-color: #19535F;
}

.dark-background-text h3,
.dark-background-text p {
    color: white;
}

h3 {
    color: #19535F;
}

form {
    display: flex;
    background-color: white;
    border: 1px solid #D78295;
    border-radius: 5px;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    gap: 10px;
    padding: 1rem;
    align-items: center;
}

form input {
    width: 60%;
    border-radius: 5px;
}

form button {
    width: 50%;
    background-color: #D81E5B;
    border: none;
    border-radius: 5px;
    padding: .5rem;
    color: white;
    margin-top: 1rem;
}

.field-error {
    border: 2px solid red;
}

header {
    background-color: #d81e5c;
    display: flex;
    position: sticky;
    top: 0px;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.832);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
    width: 100%;
}


nav a {
    text-decoration: none;
    color: #19535F;
}

nav ul li button,
nav ul li a {
    display: inline-block;
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 0.2rem;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    font-size: 1rem;
}

nav ul li button {
    padding: 0.4rem;

}

#session {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 1rem;
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    width: 30%;
    padding: 0;
    padding-right: 70%;
    margin: 0;
    gap: 10px;
}

.buttons-container button {
    background-color: white;
    border: 1px solid #D81E5B;
    border-radius: 5px;
    color: #D81E5B;
    padding: 0.3rem;
    margin-top: 0;
    transition: background-color 0.4s ease, background-color 0.4s ease;
}

.buttons-container button:hover {
    background-color: #D78295;
    border: 1px solid #D81E5B;
    border-radius: 5px;
    color: white;
    padding: 0.3rem;
    margin-top: 0;
}