body {
    font-family: Arial, sans-serif;
}

.ad {
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 0.5rem;
    text-decoration: none;
    color: inherit;
    display: block;
    height: 300px;
    margin: 0 auto;
}

.ad-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ads-panel {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.ads-panel ul {
    list-style: none;
    width: 50%;
}

.ads-panel img {
    border-radius: 50%;
    width: 40%;
}