body {
    font-family: Arial, sans-serif;
    background-color: #235789;
}

.ad {
    border: solid 1px #d78295;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 0.5rem;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    height: 300px;
    margin: 0 auto;
}

.ad h3 {
    color: #235789;
}

.ad-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* Dos columnas de igual tamaño */
    grid-gap: 5px;
    /* Espacio entre las columnas */
    align-items: center;
    /* Alinea los elementos verticalmente en el centro */
}

.ads-panel {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.ads-panel ul {
    list-style: none;
    width: 80%;
}

.ad img {
    border-radius: 50%;
    border: solid 1px #235789;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
}